
.App{
  text-align: center;
}

.tokemForm
{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tokemForm img{
width: 30vw;
margin-bottom: 10vh;
}

.tokemContent{
  background-color: rgb(255, 27, 27);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.616);
  color: white;
}

.tokemContent input{
  margin-left: 15px;
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 20vw;
  text-align: center;
}

button{
  border-radius: 10px;
  border: none;
  height: 25px;
  width: 80px;
  text-align: center;
}

.tokemContent button:hover{
  font-weight: bold;
  color: rgb(255, 27, 27);
  transform: scale(1.1);
}


.header{
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  background-color: rgb(255, 27, 27);
  color: white;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.616);
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.header h3:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.main{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  
  align-items: center;
}

.menuVar{
  display: flex;
  justify-content: space-between;
  width: 60vw;
  align-items: center;
  margin-top: 40px;
}

.main button{
  background-color: rgb(255, 27, 27);
  color: white;
  height: 25px;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  width: 10vw;
}

.deviceSelector{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.cardDevice{
  display: flex;
  background-color: rgb(255, 27, 27);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70vh;
  height: 50vh;
  padding: 20px;
  border-radius: 60px;
  color: white;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.616);

}

.cardDevice div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cardDevice div button{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 27, 27);
  height: 25px;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
  width: 10vw;
  min-width: 120px;
  margin: 20px;
}

button:hover{
  transform: scale(1.1);
  font-weight: bolder;
  cursor: pointer;
}

.parqueadero{
  display: flex;
  background-color: rgb(145, 160, 163);
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.backGround{
  position: fixed;
  left: 40vw;
  display: flex;
  height: 100vh;
  width: 50vw;
}

.park1{
position: fixed;
opacity: 70%;
height: 32.5vh;
width: 7vw;
top: 11.5vh;
left: 44.2vw;
}
.park2{
  position: fixed;
opacity: 70%;
height: 32.5vh;
width: 7vw;
top: 11.5vh;
left: 52.3vw;
font-size: xx-large;
}

.park3{
  position: fixed;
  opacity: 70%;
  height: 32.5vh;
  width: 7vw;
  top: 56vh;
  left: 44.2vw;
  font-size: xx-large;
  }
  .park4{
    position: fixed;
  opacity: 70%;
  height: 32.5vh;
  width: 7vw;
  top: 56vh;
  left: 77.3vw;
  font-size: xx-large;
  }

.no_disponible{
  background-color: #db3910 !important;
}

.disponible{
  background-color: #7ecf27;
}

.no_bien_park{
  background-color: #ff8d1b !important;
}

.mov_red{
  
  background-color: #1a71ae;
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  height: 100vh;
  justify-content: space-between;
  padding-top: 40px;
  background-color: rgb(255, 255, 255);
  font-size: small;
  width: 25vw;
}

.panel button{
  color: white;
  background-color:rgb(255, 27, 27);  
  width: 7vw;
  font-weight: bolder;
  height: 30px;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.616);

}

.panelInfo{
  margin-bottom: 15vh;
  background-color: rgb(255, 27, 27);
  width: 22vw;
  border-radius: 20px;
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.616);
  padding: auto;
  text-align: left;
  color: white;
}

.panelInfo p{
  margin: 15px;
  width: 15vw;
}

.panelInfo div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indicador{
  width: 20px;
  height: 20px;
  position: relative;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  border-width: 4px;
}